.FAQ{
    background-color: black;
    padding-left: 2%;
    padding-bottom: 12%;
    font-size: 1.2vw;
}

.FAQ > div:first-child{
    display: flex;
    margin-bottom: 5%;
}

.FAQ > div:first-child > h2{
    color: #ffa200;
    width: 20%;
}
.FAQ > div:first-child > div {
    width: 70%;
}

.FAQ > div:first-child > div > h2{
    color: white;
    width: 60%;
    font-size: 1.8em;
}



.FAQ > div:last-child > div{
    color: white;
    margin-bottom: 1%;
}

.FAQ > div:last-child > div > ul{
    display: flex;
    padding: 0.2em;
    transition: 0.3s ease-in-out;
}


.FAQ > div:last-child > div > ul > li{
    width: 20%;
    font-size: 1.5em;
    margin-bottom: 0.5em;
    transform: 0.2s ease-in-out;
}

.FAQ > div:last-child > div > ul:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.FAQ > div:last-child > div > ul:hover > li:first-child{
    color: #ffa200 !important;
}

.FAQ > div:last-child > div > ul:hover > li:last-child{
    color: #ffa200 !important;
}


.FAQ > div:last-child > div > ul > li:first-child{
    color: rgb(120, 120, 120) !important
}

.FAQ > div:last-child > div > ul > li:last-child{
    width: 50%;
    margin-left: 7%;
    color: rgb(120, 120, 120) !important
}

.FAQ  > div:last-child > div > h3{
    margin-left: 1%;
    margin-top: 2%;
    font-size: 1.2em;
}


.SchoolLogo{
    border: 1px solid white;
   text-align: center;
   margin-right: 2%;
   margin-top: 8%;
   margin-bottom: 10%;
   font-size: 1.5vw;
   padding: 8em;
   border-radius: 1em;
}

.SchoolLogo > div {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 3%;
}

.SchoolLogo > div > img{
    width: 25%;
}

.SchoolLogo > p:nth-child(2){
    font-size: 1.3em;
}

.SchoolLogo > p:nth-child(3){
    font-size: 1.8em;
}

.SchoolLogo > div:last-child{
    margin-top: 2.5%;
}

.SchoolLogo > div:last-child > a{
    margin-right: 3%;
    margin-left: 3%;
    color: white;
    border: 1px solid white;
    border-radius: 1.5em;
    padding: 10px;
    position: relative;
}

.SchoolLogo > div:last-child > a::after {
    content: '';
    position: absolute;
    background-color: #ffa600;
    border-radius: 1em;
    width: 0%;
    top: 0;
    bottom: 0;
    left: 0; /* Bắt đầu từ ngoài bên trái */
    z-index: -1; /* Đảm bảo lớp này nằm sau nội dung của a */
    transition: 0.1s ease-in-out; /* Sử dụng left để di chuyển lớp after */
}
.SchoolLogo > div:last-child > a:hover{
    color: black;
}

.SchoolLogo > div:last-child > a:hover::after {
   width: 100%;
}
