/* src/styles/globals.css */
@import url('@/styles/fonts.css');
@import url('@/styles/fontawesome.css');

@media only screen and (max-width: 1023px) {
  html {
    display: none; /* Ẩn toàn bộ nội dung */
  }
}

*{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

html::-webkit-scrollbar {
  display: none;
}


body {
  margin: 0;
  padding: 0;
}


ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
}

footer{
  background-color: white;
}

audio{
  background: transparent;
}